---
http_interactions:
- request:
    method: get
    uri: http://data.brighterplanet.com/resources.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - ! '"552b1a326497c4d66c8e870959d51615"'
      status:
      - '200'
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resources":["AirConditionerUse","Aircraft","Airline","Airport","AutomobileActivityYear","AutomobileActivityYearType","AutomobileActivityYearTypeFuel","AutomobileFuel","AutomobileMake","AutomobileMakeModel","AutomobileMakeModelYear","AutomobileMakeModelYearVariant","AutomobileMakeYear","AutomobileMakeYearFleet","AutomobileModel","AutomobileSizeClass","AutomobileTypeFuel","AutomobileTypeFuelControl","AutomobileTypeFuelYear","AutomobileTypeFuelYearControl","AutomobileYear","Breed","BreedGender","BtsAircraft",[...]
- request:
    method: get
    uri: http://data.brighterplanet.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"03b2006e041c3193250b55a1bddca05b"'
    body:
      encoding: US-ASCII
      string: ! '{"_embedded":{"resources":[{"name":"air_conditioner_use","links":[{"rel":"self","href":"http://localhost:3000/air_conditioner_uses"}]},{"name":"aircraft","links":[{"rel":"self","href":"http://localhost:3000/aircraft"}]},{"name":"airline","links":[{"rel":"self","href":"http://localhost:3000/airlines"}]},{"name":"airport","links":[{"rel":"self","href":"http://localhost:3000/airports"}]},{"name":"automobile_activity_year","links":[{"rel":"self","href":"http://localhost:3000/automobile_activity_years"}]},{"name":"automobile_activity_year_type","links":[{"rel":"self","href":"http://loc[...]
